.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    color: white;
}

.nav-click {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    color: white;
}